<div style="margin-left:20px;" class="row">
  <h1 id="greeting"></h1> 
	<h4>AngularJS Single Page Application</h4>
	<p>Angular v.1.6.6 latest stable version</p>
	<b>FEATURES - FUNCTIONALITIES</b>
		<ul>
			<li>lists a number of movies</li>
			<li>searches for a movie by title</li>
			<li>filters movies by genre</li>
			<li>search by title and filtering by genre can be combined or independent</li>
			<li>bi-directional sorting of movies by title or/and year</li>
			<li>navigates to specific movie for further details</li>
			<li>bootstrap responsive table</li>
		</ul>
	  </p>
  <button type="button" class="btn btn-success" ng-click="LIST_movies()">LIST MOVIES</button>
</div>
